body {
  font-family: sans-serif;
  margin: 1rem;
  background: #dedede;
}

input {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
}

.hidden {
  display: none;
}

svg {
  background: white;
  margin-bottom: 1rem;
}

.info-box {
  border-radius: 8px;
  padding: 15px;
  background-color: #ffffff;
  margin-top: 10px;
  box-shadow: 0 6px 8px rgba(0,0,0,0.1);
}




